body {
    padding: 10px;
}

.inspired-by {
    padding-top: 10px;
}

.settingsAndCanvas {
    display: flex;
}

.settings {
    padding: 10px;
}

.iterationsSlider {
    width: 300px;
}

.canvas {
    border: 1px solid black;
    margin: 10px;
}

.equation-selector {
    width: 100%;
}

.coefficientSet {
    width: 300px;
}

.coefficientSet .deleteIcon {
    float: right;
}

.equationHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.equationContent {
    width: 100%;
}

.coefficients {
    display: flex;
    flex-direction: column;
}

.selectAndAdd {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
}
